extends layout

block header
  .intro
    .pilots
      h1 A platform tailored for conversion
      h2 Reach your audience in moments that matter. Our vendor console empowers businesses with a cutting-edge advertisement tool that connects with customers at the perfect time. Join today and transform the way you engage.
        .button-group
          a.button.primary(href='/vendors/signup') Become a Cashboard Vendor
          a.button.primary(href='/vendors/demo') Watch the Demos

block content
  .features
    section.location
      h3 Access any location
      p Access any location to deliver rewards with our lottery system. A store, a bar, a mall, or even a stadium - we got you covered.
    section.schedule
      h3 Deliver whenever
      p Plan a delivery schedule at your choice of any location. Optimize for foot traffic or large events that may be occurring to take advantage of a crowd.
    section.athlete
      h3 Subscribe to athletes
      p Subscribe to athletes in any league and trigger offer lotteries when they make big plays. A touchdown or a three pointer can put your products in customers hands.
    section.customer
      h3 Know your customer
      p Use the data we collect on our user application platform to know how users react and engage with your offers.
