doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
    title Cashboard Vendor Console
    link(rel='stylesheet', type='text/css', href='/stylesheets/vendor-console-signup.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Barlow:500,600')
    link(rel='icon', type='image/png', sizes='64x64', href='/images/logo-transparent-background.png')

  body
    header
      #top
        .logo
          a.cashboard(href='/')
        .links
          a(href='/vendors/login') Log in
      block header


    #content
      block content

    footer
      block footer

    script(src='/javascripts/vendor-console-signup.js')
